# Ignore dependencies and build artifacts
node_modules
dist

# Ignore local environment files
.env
.env.*

# Ignore runtime data folders
persistent_data

# Ignore Git and IDE/OS files
.git
.gitignore
.vscode
README.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*